---
import Head from "../components/page/head.astro";
import Footer from "../components/page/footer.astro";
import Header from "../components/page/header.astro";
import Hero from "../components/page/Hero.astro";
import "../styles/index.scss";

interface Props {
  title: string;
  header?: string;
  withLogo?: boolean;
  withoutMenu?: boolean;
  ogImage?: string;
}

const {
  title,
  header,
  withLogo = false,
  withoutMenu = false,
  ogImage,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head title={`${title} - RustWeek 2025`} ogImage={ogImage} />

  <body>
    <style lang="scss">
      @use "../styles/variables.scss";
    </style>
    <Header withLogo={withLogo} withoutMenu={withoutMenu} />
    <div class="space-y-16 lg:space-y-24 py-24">
      <section>
        {header ? <h1 class="title">{header}</h1> : <slot name="header" />}
        <section>
          <section class="main">
            <slot />
          </section>
          <Footer />
        </section>
      </section>
    </div>

    <style>
      .header {
        width: min(70rem, 90%);

        margin-left: auto;
        margin-right: auto;
      }

      h1.title {
        text-align: center;
        margin-bottom: 3rem;
      }

      .main,
      h1.title {
        width: min(96rem, 90%);
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
      }

      .main {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    </style>
  </body>
</html>
